:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;   
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}
 
html{
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.App{
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
  background-color: aqua;
  /* background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Ft4.ftcdn.net%2Fjpg%2F01%2F31%2F15%2F51%2F360_F_131155172_4ZVdaT7YF5yJHqircjy59DDxV6aWFds9.jpg&tbnid=3VoLSIGf-3Gt_M&vet=12ahUKEwiA6_SoqbGCAxXvXmwGHbR-D3cQMygwegUIARDfAQ..i&imgrefurl=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dcool%2Bbackground&docid=9gxZVwsHqKgN9M&w=564&h=360&q=background%20image&ved=2ahUKEwiA6_SoqbGCAxXvXmwGHbR-D3cQMygwegUIARDfAQ'); */
}

.productList{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  background-attachment: fixed;
}

.productCard{
  position: relative;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 1px solid gray;
  margin: 1rem;
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 50rem;
  transition: 0.2s;
  border-radius: 10px;
  /* background-image: url('https://www.pexels.com/photo/blue-and-purple-cosmic-sky-956999/'); */
}

.productCard:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage{
  margin-top: 3.5rem;
  max-width: 100%;
  height: auto;
}

.productCard__cart{
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__wishlist{
  position: absolute;
  right: 3rem;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__fastSelling {
  position: absolute;
  font-size: 2rem;
  left: 0;
  margin: 1rem;
  fill: var(--color-orange-primary);
}

.productCard__content {
  margin: 2rem;
}

.productName{
  font-size: 1.5rem;
}

.displayStack__1,
.displayStack__2{
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice{
  font-size: 1.5rem;
  font-weight: bold;
}

.productSales,
.productTime{
  font-size: 1.1rem;
}

button{
  background-color: aqua;
  color: rgb(9, 9, 9);
  border-radius: 10px;
  margin-left: 80px;
  border: none;
  height: 20px;
}
button:hover{
  cursor: pointer;
  border: 0.5px solid;
}

/* .header {
  display: flex;
  width: 1430px;
  height: 20px;
  padding: 15px;
  margin-left: -205px;
  background-color: blue;
  border-bottom: 1px solid #ddd;
  color: white;
} */
